#m,#d,#p,#s{
    border: 3px solid red;
    padding: 2rem;
    margin: 1rem;
}
#m{
    
    background: rgb(12, 12, 12);
}
#d{
    
    background: rgb(43, 41, 41);
}
#p{
    
    background: rgb(160, 152, 152);
}
#s{
    
    background: rgb(252, 250, 250);
}
.gold{
    background: gold;
}
.box{
    border: 1px solid #666;
    padding: 1rem;
    margin: 1rem;
}
.box2{
    border: 1px solid #666;
    padding: 1rem;
    margin: 1rem;
}